<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link href="/css/homePage.css" type="text/css" rel="stylesheet">
    <link href="/css/responsive.css" type="text/css" rel="stylesheet">
    <link href="/css/details.css" type="text/css" rel="stylesheet">
    <link href="/css/create-theater.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>
    <div class="container">
        {{> header}}
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>